/src/monkeyrunner

#/src/solution.txt

/src/solutiondata/solution.txt
/src/solutiondata/words-big.txt
/src/solutiondata/words-med.txt
/src/solutiondata/words-sml.txt
/src/solutiondata/stats.csv

/src/screencaptures/*
!/src/screencaptures/template_row.png

/src/*.pyc
/src/*.py~
*.pyc
*.py~
